<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" default="9090" />
        <!-- <arg name="websocket_external_port" default="$(env SLOT_ROSBRIDGE_PORT)" /> -->
    </include>
    <!-- <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="port" value="11315" />
    </node> -->
</launch>
